# =============================================
# Configuração do bot — preencha antes de rodar
# =============================================

# Token do bot (Discord Developer Portal > Bot > Token)
DISCORD_TOKEN=MTQ5MjE3MzQzMDgyNzY0NzA3Nw.GcLGoM.MJXGQBRaZUtxDsYTTP5uPUhCltnU-hZYZStkms

# ID da aplicação (Discord Developer Portal > General Information)
CLIENT_ID=1492173430827647077

# Chave de licença — gerada pelo desenvolvedor
BOT_LICENSE_KEY=

# Segredo de licença — gerado pelo desenvolvedor
MASTER_SECRET=w8Fc01j3WkHXr_qMQVzxLe08M1zhLCEH

# Módulos ativos (separados por vírgula)
# Opções: rpg, moderation, games
MODULES=rpg,moderation

# MongoDB
MONGO_URI=mongodb+srv://dneydev:Sr@214365@botbasecluster.aednhu8.mongodb.net/
MONGO_DB=discord_bot
